{{!-- Email subscribe form at the bottom of the page --}}

{{#if @labs.subscribers}}
<div class="bottom-subscribe col s12 m7">
    <h5>订阅 {{@blog.title}}</h5>
    <p>让你的邮箱收到本站最新的文章</p>

    {{subscribe_form
    form_class="newsletter-form"
    input_class="form-control"
    button_class="btn btn-primary"
    placeholder="Enter your email address"
    autofocus=""
    }}
</div>
{{/if}}
