@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 100;
  src: local('Exo Thin'), local('Exo-Thin'), url(../fonts/Exo-thin.woff) format('woff'),
  url('../fonts/Exo-thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo-thin.woff2') format('woff2'),
  url('../fonts/Exo-thin.ttf') format('truetype'),
  url('../fonts/Exo-thin.svg#akzidenz-grotesk_stdregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(../fonts/Exo-regular.woff) format('woff'),
  url('../fonts/Exo-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo-regular.woff2') format('woff2'),
  url('../fonts/Exo-regular.ttf') format('truetype'),
  url('../fonts/Exo-regular.svg#akzidenz-grotesk_stdregular') format('svg');
}
body {
  font-family: Exo,'-apple-system','Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',Helvetica,Arial,sans-serif;
}
#instantclick-bar {
  background: #E91E63;
  height: 5px;
}
#ds-thread {

  #ds-reset {

    .ds-post-button {
      color: #fff!important;
      border: 0!important;
      font-weight: normal;
      border-radius: 0;
      background: #009688 !important;
    }

    .ds-textarea-wrapper {
      border: 1px solid #efefef!important;
      background: none!important;
    }

    .ds-post-options {
      border: 1px solid #efefef!important;
      background: none!important;
    }
  }
}

.pagination {
  width: 50%;
  float: right;

  a.pagination-link[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;

    &:before {
      background-color: rgba(66, 133, 244, 0.33);
    }
  }
}
