#ds-thread {
  
  #ds-reset {
    
    .ds-post-button {
      color: #fff!important;
      border: 0!important;
      font-weight: normal;
      border-radius: 0;
      background: #009688 !important;
    }
    
    .ds-textarea-wrapper {
      border: 1px solid #efefef!important;
      background: none!important;
    }
    
    .ds-post-options {
      border: 1px solid #efefef!important;
      background: none!important;
    }
  }
}
